.cardsDiv {
    display: grid;
    grid-template-columns: repeat(6, 16.5%);
    /* justify-items: center; */
    text-decoration: none;
}

.twoCards {
    grid-template-columns: repeat(2, 50%);
}
.threeCards {
    grid-template-columns: repeat(3, 33%);
}
.fourCards {
    grid-template-columns: repeat(4, 25%);
}
.fiveCards {
    grid-template-columns: repeat(5, 20%);
}
.sixCards {
    /* grid-template-columns: repeat(6, 16.5%); */
}
.sevenCards {
    grid-template-columns: repeat(7, 14.3%);
}
.eightCards {
    grid-template-columns: repeat(8, 12.5%);
}
.nineCards {
    grid-template-columns: repeat(9, 11.1%);
}
.tenCards {
    grid-template-columns: repeat(10, 10%);
}